__pycache__/
.vscode/

frontend/node_modules/
frontend/public/

# frontend/public/assets/
# frontend/public/assets_skydash/
# frontend/public/bootstrap-4.6.2-dist/
# frontend/public/fontawesome-free-6.7.1-web/

# 无用的文件
test/
backend.zip

# 含 ‘备份’ 的文件和目录
*备份*